.navDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.navContainer {
    margin-top: 75px;
    margin-right: 100px;
    background-color: #F2F5F9;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: none;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iconButton {
    width: 80px;
    border: none;
    border-radius: 15px;
    background-color: rgba(183, 181, 181, 0.479);
    cursor: pointer;
}

.iconButton:active {
    background: linear-gradient(to right,#FF9C1A,#E80505);
}

@media (max-width:550px) {
    .navContainer {
        grid-template-columns: 1fr 1fr;
    }
}

.icon {
    margin-top: 20px;
    margin-bottom: 0px;
}

.iconText {
    margin-top: 5px;
}