.header {
    width: 1240px;
    height: 104px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: pacifico,Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.nameDiv {
    margin-left: 200px;
    font-size: 25px;
}

.lastName {
    color: #FF9C1A;
}

.darkMode {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: none;
    border-radius: 35px;
    background-color: #EBF2FA;
}

.darkModeIcon {
    height: 25px;
}
