.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: pacifico, Arial, Helvetica, sans-serif;
    justify-content: space-between;
    flex-shrink: 0;
}

.nameDiv {
    font-size: 25px;
    width: 500px;
    flex-shrink: 0;
}

.name {
    margin-left: 30px;
}

.lastName {
    color: #FF9C1A;
}

.darkModeDiv {
    height: 50px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.darkMode {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 35px;
    background-color: #EBF2FA;
    margin-right: 100px;
}

@media (max-width:550px) {
    .darkModeDiv {
        display: none;
    }
}

.darkModeIcon {
    height: 25px;
}