.header {
    background-color: teal;
    height: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-name {
    font-weight: 700;
    font-size: 25px;
}

.right-section {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}

.services {
    margin-right: 20px;
}

.about-us {
    margin-right: 20px;
}

.services:hover {
    cursor: pointer;
}

.about-us:hover {
    cursor: pointer;
}

.contact:hover {
    cursor: pointer;
}